DATABASE_URL="postgresql://..."
ASAAS_API_KEY="seu_token_aqui"
ASAAS_ENVIRONMENT="sandbox" # ou "production"
JWT_SECRET="sua_chave_secreta_jwt_aqui"
SUPER_ADMIN_EMAIL="admin@barberplan.com"
SUPER_ADMIN_PASSWORD="sua_senha_super_admin_aqui"
CERTIFICATE_SECRET="sua_chave_encriptacao_aqui"
CRON_SECRET="seu_cron_secret_aqui"
